---
import Layout from "../layouts/Layout.astro";

const title = "Чи хороша ви людина?";
---

<Layout title={title}>
  <main class="p-3 md:py-7 flex flex-col gap-3 mx-auto max-w-3xl">
    <h1>{title}</h1>
  </main></Layout
>
