---
import MenuCard from "../components/MenuCard.astro";
import Section from "../components/Section.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import "../styles/global.css";

const Ephesians_chapter_count = 6;
const slogan = "БОЖОЮ Милістю на ІСУСОВУ Славу";
---

<DefaultLayout title=`Домівка: ${slogan}`>
  <Section heading=`Зроблено ${slogan}`>
    <div class="card w-full flex flex-col gap-3 p-7 lg:p-12">
      <strong class="text-lg md:text-xl lg:text-3xl">
        БОГ бо так полюбив світ що дав СИНА СВОГО ЄДИНОГО аби кожен хто вірує в
        НЬОГО не загинув але мав життя вічне
      </strong>
      <a
        href="https://bolls.life/UTT/43/3/16/"
        class="hover:underline text-green-600">Йоан 3:16</a
      >
    </div>
  </Section>
  <Section heading="Читайте Послання апостола Павла до Ефесян">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-3">
      {
        Array.from({ length: Ephesians_chapter_count }, (_, i) => i + 1).map(
          (chapter) => (
            <MenuCard
              link={`/chapter/${chapter}`}
              title={`Ефесяни ${chapter}`}
            />
          )
        )
      }
    </div>
  </Section>
</DefaultLayout>
