---
import Verse from "../components/Verse.astro";
import Layout from "../layouts/Layout.astro";

const title = "Чому ІСУС важливий для мене?";
---

<Layout title={title}>
  <main class="p-3 md:py-7 flex flex-col gap-3 mx-auto max-w-3xl">
    <h1>{title}</h1>
    <Verse
      text="Промовляє до нього Ісус: Я дорога, і правда, і життя. До Отця не приходить ніхто, якщо не через Мене."
      reference="Івана 14:6"
    />
    <p>
      <strong class="text-yellow-500">ІСУС ХРИСТОС</strong> є моїм життям, бо ВІН
      врятував мене.
    </p>
    <p>БІБЛІЯ каже що справедлива відплата за наш гріх це смерть:</p>
    <Verse
      text="Бо заплата за гріх смерть, а дар Божий вічне життя в Христі Ісусі, Господі нашім!"
      reference="римлян 6:23"
    />
    <p>Всі люди грішні:</p>
    <Verse
      text="бо всі згрішили, і позбавлені Божої слави,"
      reference="римлян 3:23"
    />
    <p>
      Через це нам усім потрібне ІСУСОВЕ прощення аби не страждати у пеклі цілу
      вічність.
    </p>
    <p>
      Як думаєте, ви хороша людина? <a
        href="/good-person-quiz"
        title="Чи хороша ви людина?">Отримайте відповідь тут</a
      >
    </p>
  </main>
</Layout>

<script>
  const pages = import.meta.glob("./**/*.astro");
  console.log(`Number of pages: ${Object.keys(pages).length}`);
  for (const path in pages) {
    console.log(path);
  }
</script>
