---
import Navigation from "../components/Navigation.astro";

const title = "JESUS THANK YOU JESUS HALLELUJAH";
const praise = "JESUS THANK YOU JESUS HALLELUJAH ";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Navigation />

    <h1>{title}</h1>
    <p>{praise.repeat(7)}</p>
  </body>
</html>
