<a href="/">Home</a>
<h1>{{client.name}}</h1>
<p>Balance: {{client.balance}}</p>
<p>Limit: {{client.credit}}</p>
<a href="{% url 'deposit' id=client.id%}">Deposit</a>
<a href="{% url 'withdraw' id=client.id%}">Withdraw</a>
{%if client.manager%}
<h2>Clients Data</h2>
<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Balance</td>
    <td>Credit</td>
    <td>Manager?</td>
    <td>Actions</td>
  </tr>
  {%for c in clients%}
  <tr>
    <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>{{c.balance}}</td>
    <td>{{c.credit}}</td>
    <td>{{c.manager}}</td>
    <td>
      <a href="{%url 'edit' id=c.id%}">Edit</a>
    </td>
  </tr>
  {%endfor%}
</table>
{%endif%}