<a href="/">Home</a>
<h1>{{client.name}}</h1>
<p>Balance: {{client.balance}}</p>
<p>Limit: {{client.credit}}</p>
<a href="{% url 'deposit' id=client.id%}">Deposit</a>
<a href="{% url 'withdraw' id=client.id%}">Withdraw</a>

<h2>Periodic Payments</h2>
<table>
  <tr>
    <td>Amount</td>
    <td>Purpose</td>
    <td>Period</td>
    <td>Next Date</td>
  </tr>
  {%for row in periodic_payments%}
  <tr>
    <td>{{row.amount}}</td>
    <td>{{row.purpose}}</td>
    <td>{{row.period}}</td>
    <td>{{row.next_date}}</td>
  </tr>
  {%endfor%}
</table>
{%if periodic_payments%}
{%endif%}
<a href="{%url 'periodic' id=client.id}">Add</a>

{%if payments%}
<h2>Payments</h2>
<table>
  <tr>
    <td>Amount</td>
    <td>Purpose</td>
    <td>Operation</td>
    <td>Type</td>
    <td>Time</td>
  </tr>
  {%for row in payments%}
  <tr>
    <td>{{row.amount}}</td>
    <td>{{row.purpose}}</td>
    <td>{{row.operation}}</td>
    <td>{{row.kind}}</td>
    <td>{{row.timestamp|date:'d.m.Y H:i:s'}}</td>
  </tr>
  {%endfor%}
</table>
{%endif%}

{%if client.manager%}
<h2>Clients Data</h2>
<table>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Balance</td>
    <td>Credit</td>
    <td>Manager?</td>
    <td>Actions</td>
  </tr>
  {%for c in clients%}
  <tr>
    <td>{{c.id}}</td>
    <td>{{c.name}}</td>
    <td>{{c.balance}}</td>
    <td>{{c.credit}}</td>
    <td>{{c.manager}}</td>
    <!-- add ability to view client's payment history on separate page and edit it -->
    <td>
      <a href="{%url 'edit' id=c.id admin=client.id%}">Edit</a>
    </td>
  </tr>
  {%endfor%}
</table>
{%endif%}