---
import Verse from "../components/Verse.astro";
import Layout from "../layouts/Layout.astro";

const title = "Чому ІСУС важливий для мене?";
---

<Layout title={title}>
  <main class="p-3 md:py-7 flex flex-col gap-3 md:gap-4 mx-auto max-w-3xl">
    <h1>{title}</h1>
    <Verse
      text="Хай не тривожиться серце ваше! Віруйте в Бога, віруйте й у мене. В домі Отця мого багато жител. Коли б не так, то я сказав би вам; іду бо напоготовити вам місце. І коли відійду і вам місце споготую, то повернуся і вас до себе візьму, щоб і ви були там, де я. Куди ж я йду — ви знаєте путь.» «Господи, — каже до нього Тома, — не знаємо, куди ти йдеш. І як нам знати тую путь?» Ісус до нього: «Я — путь, істина і життя! Ніхто не приходить до Отця, як тільки через мене. Якщо б ви мене пізнали, то й Отця мого пізнали б. Відтепер знаєте його і бачили.»"
      reference="Йоан 14:1-7"
    />
    <p>
      <strong class="text-lime-700 bg-lime-200/70 px-1">ІСУС ХРИСТОС</strong> є моїм
      життям, бо ВІН врятував мене від вічних страждань у пеклі і від марного життя
      слідуючи за цим світом.
    </p>
    <Verse
      text="Ми знаємо, що тим, які люблять Бога, — покликаним за його постановою, усе співдіє на добро. Бо яких він передбачив, тих наперед призначив, щоб були подібні до образу Сина його, щоб він був первородний між багатьма братами; яких же наперед призначив, тих і покликав; а яких покликав, тих оправдав; яких же оправдав, тих і прославив. Що скажемо на це? Коли Бог за нас, хто проти нас? Він власного Сина свого не пощадив, а видав його за всіх нас, — як же разом із ним не подарує нам усього?"
      reference="До римлян 8:28-32"
    />
    <p>ІСУС ХРИСТОС — моя любов, тому що:</p>
    <ul class="list-inside list-decimal">
      <li>БОГ дає нам усе що ми маємо</li>
      <li>ІСУС благословляє нас гарним здоров'ям і світлим розумом</li>
      <li>
        ГОСПОДЬ благословляє нас миром бо ми знаємо що потрапимо до раю після
        смерті і цією надією живемо
      </li>
    </ul>
    <h2>Чи не могли б ви теж подумати про те, аби прийти до ІСУСА?</h2>
    <p>БІБЛІЯ каже що справедлива відплата за наш гріх це смерть:</p>
    <Verse
      text="Бо заплата за гріх смерть, а дар Божий вічне життя в Христі Ісусі, Господі нашім!"
      reference="До римлян 6:23"
    />
    <p>Всі люди грішні:</p>
    <Verse
      text="Тепер же без закону з'явилася Божа справедливість, засвідчена законом і пророками; справедливість Божа через віру в Ісуса Христа для всіх, хто вірує, бо нема різниці. Всі бо згрішили й позбавлені слави Божої,"
      reference="До римлян 3:21-23"
    />
    <p>
      Але, гарні новини у тому, що БОГ любить нас дуже сильно, тому послав Свого
      Єдиного СИНА нашого ГОСПОДА ІСУСА ХРИСТА померти за нас:
    </p>
    <Verse
      text="Бог же показує свою до нас любов тим, що Христос умер за нас, коли ми ще були грішниками."
      reference="До римлян 5:8"
    />
    <p>
      Як думаєте, ви хороша людина? <a
        href="/good-person-quiz"
        title="Чи хороша ви людина?">Отримайте відповідь тут</a
      >
    </p>
  </main>
</Layout>
