{% extends "base.html" %} {% block title %}Результати для "{{ request
}}"{%endblock %} {% block content %}
<h1 class="text-xl py-4 font-medium"><a href="{% url "index" %}">Біблійний пошук</a></h1>
<h2 class="text-lg italic">Пошук для запиту: {{ request|capfirst }}</h2>
<span class="divider"></span>
<section class="flex flex-col gap-3">
  {% for verse in verses %}
  <div class="card shadow-sm">
    <p class="card-body inline">{{ verse.text|safe }}</p>
  </div>
  {% endfor %}
</section>
{% endblock %}
