{% extends "index.html" %}

{% block title %}Measurements List{% endblock title %}

{% block content %}
  <h1 class="font-bold text-3xl">Listed Measurements</h1>

  <table>
    <thead>
      <tr>
        <th>Value</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for m in measurements %}
        <tr>
          <td>{{ m.value }}</td>
          <td>{{ m.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="cursor-pointer underline-offset-4 hover:underline" href="{% url 'create' %}">Create a New Measurement</a>
{% endblock content %}