---
const links = { "": "home", praise: "praise" };
---

<nav>
  <ul>
    {
      Object.entries(links).map(([link, text]) => (
        <li>
          <a href={`/${link}`}>{text}</a>
        </li>
      ))
    }
  </ul>
</nav>
