---
export function getStaticPaths() {
  return [
    { params: { chapter_id: "1" } },
    { params: { chapter_id: "2" } },
    { params: { chapter_id: "3" } },
    { params: { chapter_id: "4" } },
    { params: { chapter_id: "5" } },
    { params: { chapter_id: "6" } },
  ];
}

const { chapter_id } = Astro.params;
---

<h1>{chapter_id}</h1>
