{% extends "base.html" %}

{% block title %}
User {{ user }}
{% endblock %}

{% block content %}
<h5>This is {{ user.username }}'s profile.</h5>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button class="btn btn-success mt-1" type="submit">Log out</button>
</form>

<table class="table my-3">
<caption class="caption-top">Bunches processed: {{ bunches|length }}</caption>
<caption>🍊 is damaged and 🍏 is good</caption>
<thead>
  <tr>
    <th>№</th>
    <th>Number of grapes</th>
    <th>Is outside damaged?</th>
    <th>Is shape unstable?</th>
    <th>Is color uneven?</th>
    <th>Is sugar irregular?</th>
    <th>Stage</th>
  </tr>
</thead>
<tbody>
  {% for b in bunches%}
  <tr>
    <td><a href="{% url 'grapes:bunch' b.id %}" class="text-success">{{ b.id }}.</a></td>
    <td>{{ b.count }}</td>
    <td>{% if b.outside %}🍊{% else %}🍏{% endif %}</td>
    <td>{% if b.shape %}🍊{% else %}🍏{% endif %}</td>
    <td>{% if b.color %}🍊{% else %}🍏{% endif %}</td>
    <td>{% if b.sugar %}🍊{% else %}🍏{% endif %}</td>
    <td>{{ b.stage }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
<a class="btn btn-primary" href="{% url 'grapes:new_bunch' %}">Add new bunch</a>
{% endblock %}