@import "./constants.css";
strong {
  color: var(--verse);
  line-height: 1.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.17rem;
}
strong::after {
  content: " ";
}
cite::before {
  content: "(";
}
cite::after {
  content: ")";
}
section a {
  text-decoration: none;
}
