:root {
  --verse: #cc331d;
}
strong {
  color: var(--verse);
}
strong::after {
  content: " ";
}
cite::before {
  content: "(";
}
cite::after {
  content: ")";
}
section a {
  text-decoration: none;
}
