@import "./constants.css";
table tr td:nth-child(1) {
  vertical-align: top;
  font-weight: 500;
  width: 27%;
}
table label {
  cursor: pointer;
}
table input,
table textarea,
table select {
  background: inherit;
  border: 0.1rem solid var(--blue);
  padding: 0.3rem;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
  width: 100%;
  font-family: inherit;
}
.error {
  border: 0.1rem solid var(--error);
}
