{%extends 'base.html'%}

{%block title%}{{user.name}}'s Account{%endblock%}

{%block content%}
<h2>СЛАВА ГОСПОДУ ІСУСУ ХРИСТУ, {{user.name}}!</h2>
{%if not user.manager%}
<p>Balance: {{user.balance}}</p>
<p>Limit: {{user.limit}}</p>
<button>Add money</button>
<button>Make payment</button>
<button>Schedule payment</button>
<h3>Payments History</h3>
<table style="border-spacing: 1rem;">
  {%for pay in payments%}
  {{pay}}
  {%endfor%}
</table>
{%else%}
<h3>Available Users</h3>
<table style="border-spacing: 1rem;">
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Balance</td>
    <td>Limit</td>
    <td>Manager?</td>
    <td>Actions</td>
  </tr>
  {%for user in users%}
  <tr>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.balance}}</td>
    <td>{{user.limit}}</td>
    <td>{{user.manager}}</td>
    <td>
      <button>Change limit</button>
      <button>Change balance</button>
      <button>Remove user</button>
    </td>
  </tr>
  {%endfor%}
</table>
<button>Add user</button>
{%endif%}
{%endblock%}